body {
  font-family: Arial;
  margin: 0;
  padding: 20px;
  background: #f4f4f4;
}

header {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  width: 50px;
}

section {
  margin-top: 30px;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

textarea {
  width: 100%;
  height: 120px;
  padding: 10px;
}

.dark {
  background: #222 !important;
  color: white;
}

.dark section {
  background: #333 !important;
}
